@model deleteme.Models.Entities.Employee

@{
    ViewData["Title"] = "Eliminar Empleado";
}

<h1>Eliminar Empleado</h1>

@* Mensaje de advertencia *@
<div class="alert alert-danger">
    <h3>¿Está seguro que desea eliminar este empleado?</h3>
    <p>Esta acción no se puede deshacer.</p>
</div>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dt class="col-sm-2">
            Apellido
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        
        <dt class="col-sm-2">
            DNI
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        
        <dt class="col-sm-2">
            Salario
        </dt>
        <dd class="col-sm-10">
            $@Model.Salary.ToString("N2")
        </dd>
    </dl>
    
    @* Formulario de confirmación *@
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmployeeId" />
        <input type="submit" value="Sí, eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">No, volver al listado</a>
    </form>
</div>